tun:
  enable: true
  stack: gvisor
  auto-route: true
  auto-detect-interface: true
  dns-hijack:
    - any:53
    - tcp://any:53
dns:
  enable: true
  ipv6: true
  listen: localhost:5353
  #enhanced-mode: redir-host
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  default-nameserver:
    - 94.140.14.140
    - 94.140.14.141
    - 77.88.8.8
    - 77.88.8.1
    - 156.154.70.1
    - 156.154.71.1
    - 8.8.8.8
    - 8.8.4.4
    - 1.1.1.1
    - 1.0.0.1
    - 9.9.9.10
    - 149.112.112.10
    - 64.6.64.6
    - 64.6.65.6
    - 130.59.31.248
    - 216.146.35.35
    - 216.146.36.36
    - 195.46.39.39
    - 195.46.39.40
    - 149.112.121.10
    - 149.112.122.10
    - 193.17.47.1
    - 185.43.135.1
    - 223.5.5.5
    - 223.6.6.6
    - 51.38.82.198
    - 185.235.81.1
    - 185.235.81.2
    - 185.121.177.177
    - 169.239.202.202
    - 91.239.100.100
  nameserver:
    - https://dns-unfiltered.adguard.com/dns-query
    - https://dns.google/dns-query
    - https://dns.cloudflare.com/dns-query
    - https://dns10.quad9.net/dns-query
    - https://dns.switch.ch/dns-query
    - https://private.canadianshield.cira.ca/dns-query
    - https://dns.alidns.com/dns-query
    - https://dns.pumplex.com/dns-query
    - https://doh.dnslify.com/dns-query
    - https://doh.mullvad.net/dns-query
    - https://anycast.uncensoreddns.org/dns-query
    - https://opennic1.eth-services.de:853
    - https://opennic2.eth-services.de:853
    - https://www.jabber-germany.de/dns-query
    - https://www.morbitzer.de/dns-query
    - https://ns1-doh.iriseden.fr
    - https://ns2-doh.iriseden.fr
    - https://doh.elsorcier.ru:443/dns-query
    - https://dns.kawa.tf/dns-query
  fallback:
    - tls://dns-unfiltered.adguard.com
    - tls://dns.google
    - tls://1dot1dot1dot1.cloudflare-dns.com
    - tls://dns10.quad9.net
    - tls://private.canadianshield.cira.ca
    - tls://dns.alidns.com
    - tls://dns.pumplex.com
    - tls://doh.dnslify.com
    - tls://doh.mullvad.net
    - tls://ns1-doh.iriseden.fr
    - tls://ns2-doh.iriseden.fr
    - ns5.opennic.glue
    - ns12.opennic.glue
    - ns13.opennic.glue
  nameserver-policy:
    '+.bbs': 'ns6.opennic.glue'
    '+.chan': 'ns5.opennic.glue'
    '+.chn': '202.170.218.93'
    '+.cyb': 'ns12.opennic.glue'
    '+.dyn': 'ns2.opennic.glue'
    '+.epic': 'ns13.opennic.glue'
    '+.free': 'ns2.opennic.glue'
    '+.geek': 'ns2.opennic.glue'
    '+.gopher': 'ns2.opennic.glue'
    '+.indy': 'ns2.opennic.glue'
    '+.libre': 'ns2.opennic.glue'
    '+.neo': 'ns3.opennic.glue'
    '+.null': 'ns10.opennic.glue'
    '+.o': 'ns11.opennic.glue'
    '+.oss': 'ns2.opennic.glue'
    '+.oz': 'ns10.opennic.glue'
    '+.parody': 'ns2.opennic.glue'
    '+.pirate': 'ns2.opennic.glue'
mixed-port: 7890
allow-lan: true
log-level: debug
profile:
  store-selected: true
  store-fake-ip: true
proxies:
  - name: "i2p"
    type: http
    server: 127.0.0.1
    port: 4444

  - name: "tor"
    type: socks5
    server: 127.0.0.1
    port: 9050                                                                                  
proxy-providers: {}
proxy-groups:
  - name: "UDP"
    type: url-test
    use:
      - udp-provider
    url: 'http://www.gstatic.com/generate_204'
    interval: 300
  - name: "vmess"
    type: url-test
    use:
      - vmess-provider
    url: 'http://www.gstatic.com/generate_204'
    interval: 300
  - name: "ssr"
    type: url-test
    use:
      - ssr-provider
    url: 'http://www.gstatic.com/generate_204'
    interval: 300
  - name: "ss"
    type: url-test
    use:
      - ss-provider
    url: 'http://www.gstatic.com/generate_204'
    interval: 300
  - name: "proxy"
    type: fallback
    proxies:
      - vmess
      - ssr
      - ss
    url: 'http://www.gstatic.com/generate_204'
    interval: 300
script:
  shortcuts:
    udp: network == 'udp'
rules:
  - IP-CIDR,10.0.0.0/8,DIRECT
  - IP-CIDR,127.0.0.0/8,DIRECT
  - IP-CIDR,172.16.0.0/12,DIRECT
  - IP-CIDR,192.168.0.0/16,DIRECT
  - IP-CIDR6,::1/128,DIRECT
  - IP-CIDR6,fe80::/64,DIRECT
  - SCRIPT,udp,UDP
  - DOMAIN-SUFFIX,i2p,i2p
  - DOMAIN-SUFFIX,onion,tor
